#brand{
    display: inline-block
}

body{
    margin-top: 40px;
}
#nav{
    height: 40px;
}
#sidebar1{
    margin-top: 41px;
    padding-top: 10px;
}
#main-container{
}
#mainContainer{
    position: relative;
    height: auto;
    padding-left: 130px;
    padding-top: 10px;
}
#card{
    max-height: 180px;
}
#col-cards{
    margin-top: 20px;
}
#description{
    font-size: 1em;
}
.comments{
    margin-top: 20px;
}
